head {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  height: 50px;
  opacity: 0.5;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 31px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

  body{
    margin: 0;
    position: fixed;
    background-image: url(../includes/electrical-current-definition.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    position: relative;
    background-position: 65% 35%;
  }
  #table1{
    border: 1px solid black;
    margin-top: 17%;
  }
  h1{
    opacity: 0;
  }
